body {
    background-color: lightsteelblue;
}

#pinned {
    display: flex;
    flex-wrap: wrap;
}

#overviewpage {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 40px;
}

#profile, #pinned, #overviewForm {
    padding: 40px;
    margin: 40px;
}

h4 {
    padding-left: 20px;
}

card {
    padding: 20px;
    margin: 20px;
}

.card {
    margin: 20px;
    width: 200px;
    height: 200px;
}

.form-floating {
    margin: 20px;
}

.btn-success {
    margin-left: 20px;
}

img {
    border-radius: 50%;
    margin-bottom: 30px;
}

#profile {
    width: 250px;
}

p, a {
    font-size: 12px;
}

.follow, .sponsor {
    background-color: lightgray;
    font-size: 12px;
    width: 70px;
    margin: 5px;
}

#contact {
    margin-top: 20px;
}

#package-page {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

#stars {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-top: 80px;
}

#repoform {
    padding: 20px;
    margin: 20px;
}

#repoSubmit {
    margin-top: 40px;
}

#footer {
    position: absolute;
    bottom: 0;
    background-color: aliceblue;
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 20px;
}

a {
    padding: 30px;
}
